<br/>
	<%#= image_tag 'test02.png' %>
	<!--
		<table>
			<thead>
				<tr>
				<th>Item</th>
				<th>Prices</th>
				</tr>
			</thead>
			<tbody>
				<tr><th>Tie</th><th>$1.75</th></tr>
				<tr><th>Shirt</th><th>$2.50 and up</th></tr>		
				<tr><th>Vest</th><th>$2.50 and up</th></tr>
				<tr><th>Blouse</th><th>$2.50 and up</th></tr>
				<tr><th>Skirt</th><th>$3.00</th></tr>
				<tr><th>Sweater</th><th>$3.00</th></tr>
				<tr><th>Pants</th><th>$3.00</th></tr>
				<tr><th>Jacket</th><th>$3.00</th></tr>
				<tr><th>Suits</th><th>$5.00 and up</th></tr>
				<tr><th>Dress</th><th>$7.00</th></tr>
				<tr><th>Blankets *</th><th>$7.00 and up</th></tr>
				<tr><th>Comforter *</th><th>$7.00 and up</th></tr>
				<tr><th>Down Vest</th><th>$8.00</th></tr>
				<tr><th>Coat</th><th>$7.00 and up</th></tr>
				<tr><th>Long Coat</th><th>$10.00 and up</th></tr>
				<tr><th>Long Down Coat</th><th>$15.00 and up</th></tr>
				<tr><th>Leather Jacket</th><th>$35.00 and up</th></tr>				
			</tbody>
		</table>
		
		-->
		<!--
		<ul id="dryclean-items">
			<li id="dryclean-tie"><h5>Tie</h5><h5>$1.75</h5></li>
			<li id="dryclean-shirt"><h5>Shirt</h5><h5>$2.50 and up</h5></li>		
			<li id="dryclean-vest"><h5>Vest</h5><h5>$2.50 and up</h5></li>
			<li id="dryclean-blouse"><h5>Blouse</h5><h5>$2.50 and up</h5></li>
			<li id="dryclean-skirt"><h5>Skirt</h5><h5>$3.00</h5></li>
			<li id="dryclean-sweater"><h5>Sweater</h5><h5>$3.00</h5></li>
			<li id="dryclean-pants"><h5>Pants</h5><h5>$3.00</h5></li>
			<li id="dryclean-jacket"><h5>Jacket</h5><h5>$3.00</h5></li>
			<li id="dryclean-suits" class="long"><h5>Suits</h5><h5>$5.00 and up</h5></li>
			<li id="dryclean-dress" class="long"><h5>Dress</h5><h5>$7.00</h5></li>
			<li id="dryclean-blankets"><h5>Blankets *</h5><h5>$7.00 and up</h5></li>
			<li id="dryclean-comforter"><h5>Comforter *</h5><h5>$7.00 and up</h5></li>
			<li id="dryclean-downvest"><h5>Down Vest</h5><h5>$8.00</h5></li>
			<li id="dryclean-coat"><h5>Coat</h5><h5>$7.00 and up</h5></li>
			<li id="dryclean-longcoat" class="long"><h5>Long Coat</h5><h5>$10.00 and up</h5></li>
			<li id="dryclean-longdowncoat" class="long"><h5>Long Down Coat</h5><h5>$15.00 and up</h5></li>
			<li id="dryclean-leather"><h5>Leather Jacket</h5><h5>$35.00 and up</h5></li>
		</ul>
		-->
<div class="row">
	<div class="twelve columns">
		<ul id="dryclean-items">
			<li id="dryclean-tie"><h4>Tie</h4><h5>$1.75</h5></li>
			<li id="dryclean-shirt"><h4>Shirt</h4><h5>$2.50 and up</h5></li>		
			<li id="dryclean-vest"><h4>Vest</h4><h5>$2.50 and up</h5></li>
			<li id="dryclean-blouse"><h4>Blouse</h4><h5>$2.50 and up</h5></li>
			<li id="dryclean-skirt"><h4>Skirt</h4><h5>$3.00</h5></li>
			<li id="dryclean-sweater"><h4>Sweater</h4><h5>$3.00</h5></li>
			<li id="dryclean-pants"><h4>Pants</h4><h5>$3.00</h5></li>
			<li id="dryclean-jacket"><h4>Jacket</h4><h5>$3.00</h5></li>
			<li id="dryclean-blankets"><h4>Blankets</h4><h5>$7.00 and up</h5></li>
			<li id="dryclean-comforter"><h4>Comforter</h4><h5>$7.00 and up</h5></li>
			<li id="dryclean-downvest"><h4>Down Vest</h4><h5>$8.00</h5></li>
			<li id="dryclean-coat"><h4>Coat</h4><h5>$7.00 and up</h5></li>
			<li id="dryclean-suits" class="long"><h4>Suits</h4><h5>$5.00 and up</h5></li>
			<li id="dryclean-dress" class="long"><h4>Dress</h4><h5>$7.00</h5></li>
			<li id="dryclean-longcoat" class="long"><h4>Long Coat</h4><h5>$10.00 and up</h5></li>
			<li id="dryclean-longdowncoat" class="long"><h4>Long Down Coat</h4><h5>$15.00 and up</h5></li>
			<li id="dryclean-leather" class="long"><h4>Leather Jacket</h4><h5>$35.00 and up</h5></li>
    </ul>
    <div id="disclaimer">
      </p>We do not accept credit card.  There is no minimum or maximum order. No Refunds</p>
    </div>
  </div>
</div>
