<!--<img src="http://placehold.it/724x600">-->

<div class="row">
  <div class="twelve columns">
    <ul id="selfservice-prices">
      <li id="small"><h4>Small</h4><h5>$1.50</h5></li>
      <li id="medium"><h4>Medium</h4><h5>$3.00</h5></li>
      <li id="large"><h4>Large</h4><h5>$4.00</h5></li>
      <li id="larger"><h4>Larger</h4><h5>$6.00</h5></li>
      <li id="dryer"><h4>Dryer</h4><h5>7 mins/25¢</li>
  </div>
</div>
