<div class="container">
	<!--
	<div class="row">
		<div class="twelve columns">
			<h3>About Lin's Laundromat</h3>
			<p>Gluten-free seitan vegan, adipisicing duis wolf aliquip proident. Commodo lo-fi consectetur american apparel. Gentrify vice fap keffiyeh eiusmod. Marfa put a bird on it laboris seitan consequat, keffiyeh PBR keytar master cleanse. Pitchfork thundercats ad fap cliche, portland whatever craft beer enim. Cillum master cleanse vegan, lomo sartorial magna synth whatever marfa deserunt. Butcher wes anderson art party, sustainable odio vegan ad adipisicing whatever mcsweeney's reprehenderit.</p>
			<p>Readymade art party nulla, squid dolore ea proident artisan consectetur farm-to-table sapiente excepteur lo-fi. American apparel messenger bag food truck viral. Raw denim in Austin stumptown yr viral, eu master cleanse. Sustainable adipisicing elit enim echo park brunch banksy proident. Hoodie wes anderson locavore, beard whatever officia duis. Whatever you probably haven't heard of them stumptown cillum, voluptate quis gentrify cardigan non eu sunt assumenda freegan 3 wolf moon banksy. Aliquip yr adipisicing sustainable, accusamus mlkshk before they sold out.</p>
		</div>
	</div>
	-->
	<div class="row">
    <div id="location">
      <div class="nine columns">
        <iframe id="map" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=774%2B52nd%2BStreet%2BBrooklyn%2BNY%2B11220@40.640052,-74.005410&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
      </div>
      <div class="three columns">
        <h4>Address</h4>
        <p>774 52nd Street<br/>
          Brooklyn, NY 11220</br/>
          (718) 972-4926</p>
        <h4>Store Hours</h4>
        <p> Open 7 days a week 7 AM to 11 PM</p>
        <h4>Customs</h4>
        <p>Last load in before 10 PM</p>
        <p>Wash & Fold drop off and pickup between 8 AM and 9 PM</p>
      </div>
    </div>
  </div>

</div>

