<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div id="featured"> 
				<img src="http://placehold.it/980x500">
				<img src="http://placehold.it/980x500">
				<img src="http://placehold.it/980x500">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="four columns">
			<p>Lorem ipsum dolor sit amet, phaedrum oportere mea no, mei no elitr corrumpit. Sed diam oratio interpretaris ex. Quo et percipit luptatum senserit, pri eirmod utamur corrumpit et. Per mollis officiis te, nonumy latine feugiat quo et. No modus tempor voluptatibus sea, in habeo prompta alienum eam.</p>
		</div>
		<div class="four columns">
			<p>Lorem ipsum dolor sit amet, phaedrum oportere mea no, mei no elitr corrumpit. Sed diam oratio interpretaris ex. Quo et percipit luptatum senserit, pri eirmod utamur corrumpit et. Per mollis officiis te, nonumy latine feugiat quo et. No modus tempor voluptatibus sea, in habeo prompta alienum eam.</p>
		</div>
		<div class="four columns">
			<p>Lorem ipsum dolor sit amet, phaedrum oportere mea no, mei no elitr corrumpit. Sed diam oratio interpretaris ex. Quo et percipit luptatum senserit, pri eirmod utamur corrumpit et. Per mollis officiis te, nonumy latine feugiat quo et. No modus tempor voluptatibus sea, in habeo prompta alienum eam.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit();
     });
</script>