<div class="row">
  <div class="columns twelve">
    <h1>Thank You</h1>
    <p>Your order is being processed, and your order should be delivered within the next couple of days.</p>
    <p>The reference number for your order is <%= @order.reference_number %>.  Please call us at (646)512-0681 if you have any issues.</p>
  </div>
</div>
